

div {
    /* background-color: goldenrod;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 20px;
     */
     border: 3px solid black;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 40px;
     font-weight: bold;

}
